# Database
DATABASE_URL=postgres://postgres:password@localhost:5432/slinttech

# JWT
JWT_SECRET=secret_key
JWT_EXPIRATION=604800

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8698
APP_URL=http://localhost:8698

# Paystack Payment
PAYSTACK_SECRET_KEY=paystack_secret_key

# Email Brevo
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=noreply@slinttech.org
BREVO_SENDER_NAME=SlintTech

# Cloudinary for file uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
